<div class="row">
    <div id="content" class="col-lg-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href={{homeUrl}}>首页</a>
                        </li>
                        <li>各定点机构统计</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box border primary">
                    <div class="box-title">
                        <h4><i class="fa fa-search"></i>查询条件</h4>
                    </div>
                    <form class="form-horizontal ng-pristine ng-valid" role="form">
                        <div class="box-body">
                            <div class="input-group">
                                <label class="search-lable">定点机构</label>
                                <select class="search-control search-input input-width-sm" ng-model="nsId" ng-options="item.NsId as item.NsName for item in OrgData"></select>
                                <div class="search-btn-div">
                                    <a class="btn btn-primary btn-sm" ng-disabled="!nsId" ng-click="init()"><i class="fa fa-search"></i> 查询</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box border primary">
                    <div class="box-title">
                        <h4><i class="fa fa-bar-chart-o"></i>各定点机构统计</h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div id="certRate" style="height:600px;" class="col-md-8 col-lg-8"></div>
                            <div id="piecertRate" style="height:600px;" class="col-md-4 col-lg-4"></div>
                            <div id="hospRate" style="height:600px;" class="col-md-8 col-lg-8"></div>
                            <div id="piehospRate" style="height:600px;" class="col-md-4 col-lg-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>